.inputOption {
  display: flex;
  align-items: center;
  margin-top: 15px;
  color: gray;
  padding: 10px;
  cursor: pointer;
  &:hover {
    background: whitesmoke;
    border-radius: 6px;
  }
  h4 {
    margin-left: 5px;
  }
}
