.feed {
  flex: 0.55;
  margin: 0 20px;
  &__inputContainer {
    // display: flex;
    // justify-content: space-evenly;
    background-color: white;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
  }

  &__input {
    border: 1px solid lightgray;
    border-radius: 6px;
    display: flex;
    padding: 10px;
    color: gray;
    padding-left: 15px;
    form {
      display: flex;
      width: 100%;
      input {
        border: none;
        flex: 1;
        margin-left: 10px;
        outline-width: 0;
        font-weight: 600;
      }

      button {
        display: none;
      }
    }
  }

  &__inputOptions {
    display: flex;
    justify-content: space-evenly;
  }
}
