.app {
  background-color: #f3f2ef;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.app__body {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  /* margin-left: 10px; */
  /* margin-right: 20px; */
  margin-top: 35px;
}
